<app-loading *ngIf="isLoading"/>
<mat-card *ngIf="!isLoading" class="app-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="app-form" #form="ngForm" (ngSubmit)="registerHandler(form)">
            
            <mat-form-field class="app-full-width">
                <mat-label>Your Name</mat-label>
                <input type="text" matInput placeholder="Your Name" name="name" ngModel #inputName="ngModel" required>
                <ng-container *ngIf="inputName.touched">
                    <mat-hint *ngIf="inputName.errors?.['required']" class="error">Name is required!</mat-hint>
                </ng-container>
            </mat-form-field>

            <mat-form-field class="app-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Email" name="email" ngModel #inputEmail="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                <ng-container *ngIf="inputEmail.touched">
                    <mat-hint *ngIf="inputEmail.errors?.['required']" class="error">Email is required!</mat-hint>
                    <mat-hint *ngIf="inputEmail.errors?.['pattern']" class="error">Email is incorrect!</mat-hint>
                </ng-container>
            </mat-form-field>

            <mat-form-field class="app-full-width">
                <mat-label>Age</mat-label>
                <input type="text" matInput placeholder="Age" name="age" ngModel #inputAge="ngModel" required>
                <ng-container *ngIf="inputAge.touched">
                    <mat-hint *ngIf="inputAge.errors?.['required']" class="error">Age is required!</mat-hint>
                </ng-container>
            </mat-form-field>

            <mat-form-field class="app-full-width">
                <mat-label>City</mat-label>
                <input type="text" matInput placeholder="City" name="city" ngModel #inputCity="ngModel">
            </mat-form-field>

            <mat-form-field class="app-full-width">
                <mat-label>Profile picture</mat-label>
                <input type="text" matInput placeholder="http://"  name="img" ngModel #inputImage="ngModel">
            </mat-form-field>

            <mat-form-field class="app-full-width">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" name="password" ngModel #inputPassword="ngModel" required minlength="6" >
                <ng-container *ngIf="inputPassword.touched">
                    <mat-hint *ngIf="inputPassword.errors?.['required']" class="error">Password is required!</mat-hint>
                    <mat-hint *ngIf="inputPassword.errors?.['minlength']" class="error">Password must be at least 6 characters!</mat-hint>
                </ng-container>
            </mat-form-field>

            <mat-form-field class="app-full-width">
                <mat-label>Repeat Password</mat-label>
                <input matInput placeholder="Repeat Password" type="password" name="rePassword" ngModel #inputRePassword="ngModel" required [appMatchPassword]="inputPassword.value"> 
                <ng-container *ngIf="inputRePassword.touched">
                    <mat-hint *ngIf="inputPassword.errors?.['required']" class="error">Repeat password is required!</mat-hint>
                    <mat-hint *ngIf="inputRePassword.errors?.['matchPasswordValidator']" class="error">Passwords mismatch!</mat-hint>
                </ng-container>
            </mat-form-field>
            
            <p class="account">Have an account?<a routerLink="/auth/login">Login</a></p>

            <button [disabled]="form.invalid" mat-raised-button color="accent">Register</button>

        </form>
    </mat-card-content>
</mat-card>
 