<div class="list-card">
    <div class="listImgs">
        <a *ngFor="let book of bookList.books.slice(0,5)" routerLink="/books/{{bookList.list_name}}/{{book._id}}">
            <img
                alt="{{book.title | titlecase}}"
                title="{{book.title | titlecase}}"
                src="{{book.book_image}}" />
        </a>
    </div>
    <a class="listTitle" routerLink="/books/{{bookList.list_name}}">
        {{bookList.display_name}}
    </a>
    <br />
    <div class="listFullDetails">{{bookList.books.length}} books</div>
</div>
