<div class="container">

    <div class="img-container">
        <img src="../../../assets/Summer23_HomepageMasthead_desktop.png" alt="Summer reads">
    </div>

    <mat-card class="home-auth-card">
        <mat-card-header>
          <mat-card-title>Discover and read more</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <mat-card-subtitle>By creating an account you agree to the BookReads <span>Terms of Service</span> and <span>Privacy Policy</span>.</mat-card-subtitle>
            <button mat-raised-button color="accent" routerLink="/register">Sign Up</button>
        </mat-card-content>
        
        <mat-divider />
        
        <mat-card-actions class="home-auth-card-bottom">
            <p>Already a member?</p>
            <button mat-raised-button color="accent" routerLink="/login">Sign in</button>
        </mat-card-actions>
    </mat-card>

    <section class="site-info">
        <article>
            <h3>Decide what to read next?</h3>
            <p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
        </article>

        <article>
            <h3>What are your friends reading?</h3>
            <p>Chances are your friends are discussing their favorite (and least favorite) books on Goodreads.</p>
        </article>
    </section>

    <section class="book-search">
        <h3>Search and browse books</h3>
        <!-- search input component -->
        <mat-list>
            <!-- TODO: Populate genres -->
            <li><a routerLink="/books/art">Art</a></li>
            <li><a routerLink="/books/art">Biography</a></li>
            <li><a routerLink="/books/art">Business</a></li>
            <li><a routerLink="/books/art">Children's</a></li>
            <li><a routerLink="/books/art">Christian</a></li>
            <li><a routerLink="/books/art">Classic</a></li>
            <li><a routerLink="/books/art">Comics</a></li>
            <li><a routerLink="/books/art">Cookbooks</a></li>
            <li><a routerLink="/books/art">Ebooks</a></li>
            <li><a routerLink="/books/art">Fantasy</a></li>
            <li><a routerLink="/books/art">Fiction</a></li>
            <li><a routerLink="/books/art">Graphic Novels</a></li>
            <li><a routerLink="/books/art">Historical Fiction</a></li>
            <li><a routerLink="/books/art">History</a></li>
            <li><a routerLink="/books/art">Horror</a></li>
            <li><a routerLink="/books/art">Memoir</a></li>
            <li><a routerLink="/books/art">Music</a></li>
            <li><a routerLink="/books/art">Mystery</a></li>
            <li><a routerLink="/books/art">Nonfiction</a></li>
            <li><a routerLink="/books/art">Poetry</a></li>
            <li><a routerLink="/books/art">Psychology</a></li>
            <li><a routerLink="/books/art">Romance</a></li>
            <li><a routerLink="/books/art">Science</a></li>
            <li><a routerLink="/books/art">Science Ficiton</a></li>
            <li><a routerLink="/books/art">Self Help</a></li>
            <li><a routerLink="/books/art">Sports</a></li>
            <li><a routerLink="/books/art">Thriller</a></li>
            <li><a routerLink="/books/art">Travel</a></li>
            <li><a routerLink="/books/art">Young Adult</a></li>
            <li><a routerLink="/books/art">More genres...</a></li>
        </mat-list>
    </section>
</div>
