<div class="container">

    <div class="img-container">
        <img src="../../../assets/Summer23_HomepageMasthead_desktop.png" alt="Summer reads">
    </div>

    <mat-card class="home-auth-card">
        <mat-card-header>
          <mat-card-title>Discover and read more</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <mat-card-subtitle>By creating an account you agree to the BookReads <span>Terms of Service</span> and <span>Privacy Policy</span>.</mat-card-subtitle>
            <button mat-raised-button color="accent" routerLink="/auth/register">Sign Up</button>
        </mat-card-content>
        
        <mat-divider />
        
        <mat-card-actions class="home-auth-card-bottom">
            <p>Already a member?</p>
            <button mat-raised-button color="accent" routerLink="/auth/login">Sign in</button>
        </mat-card-actions>
    </mat-card>

    <section class="site-info">
        <article>
            <h3>Decide what to read next?</h3>
            <p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
        </article>

        <article>
            <h3>What are your friends reading?</h3>
            <p>Chances are your friends are discussing their favorite (and least favorite) books on Goodreads.</p>
        </article>
    </section>

    <app-book-search [view]="true"/>
</div>
