<div class="container">
    <h2>My books</h2>
    <mat-divider />

    <app-loading *ngIf="isLoading"/>

    <div class="my-books-content" *ngIf="!isLoading">
        <div class="left-side">
            
            <h4>Bookshelves</h4>
            <ul>
                <li><a routerLink="/user/my-books">All ({{userShelves?.length}})</a></li>
                <li><a routerLink="/user/my-books/want">Want to Read ({{wantShelf?.length}})</a></li>
                <li><a routerLink="/user/my-books/currently">Currently Reading ({{currentShelf ? 1 : 0}})</a></li>
                <li><a routerLink="/user/my-books/read">Read ({{readShelf?.length}})</a></li>
            </ul>
        </div>
        <div class="right-side">
            
            <app-books-list view="myShelf" [selectedShelf]="selectedShelf" [booksOnShelf]="booksOnShelf"/>
              
        </div>
    </div>

</div>