/* GENERAL */

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5em;
}

h2 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #2b837d;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
}

.my-books-content {
    display: flex;
}

/* LEFT SIDE */

.left-side {
    flex: 0 0 20%;
}

.left-side h4 {
    font-weight: 500;
    margin-bottom: 0.5em;
}

/* RIGHT SIDE */

.right-side {
    flex: 1 0 80%;
}
