<div class="main-container">
    <div class="container">
        <div class="left-side">
            <app-current-read-card *ngIf="currentShelf"  [bookId]="currentShelf.bookId"/>
            <mat-divider />
    
            <div class="want-to-read">
                <h4>WANT TO READ</h4>
                <div class="img-container">
                    <app-want-to-read-card *ngFor="let shelf of wantShelf?.slice(0, 6)" [bookId]="shelf.bookId" />
                </div>
                <ul>
                    <li><a href="">View all books</a></li>
                </ul>
            </div>
            
            <mat-divider />
    
            <div class="book-shelves">
                <ul class="shelves">
                    <li><a href="">{{wantShelf?.length}} Want to Read</a></li>
                    <li><a href="">1 Currently Reading</a></li>
                    <li><a href="">{{readShelf?.length}} Read</a></li>
                </ul>
            </div>
        </div>
    
        <div class="right-side">
            <div class="banner">
                <img src="../../../assets/1682971764-1682971764_goodreads_misc.png" width="600px" alt="" />
                <div class="text">
                    <h4>Discover the Biggest Books of Summer</h4>
                    <p>Check out your fellow Goodreads members' most anticipated titles for the season.</p>
                </div>
            </div>
    
            <h3>UPDATES</h3>
    
            <div class="activities">
                <app-activity-card />
                <app-activity-card />
                <app-activity-card />
            </div>
        </div>
    </div>
</div>