.main-container {
    background-color: #FAF6F0;
    width: 100vw;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5em;
    justify-content: space-between;
}

/* LEFT SIDE */

.left-side {
    flex: 0 0 20%;
    max-width: 300px;
}

a {
    text-decoration: none;
    color: #2b837d;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
}

h4 {
    font-weight: 500;
    margin-block: 1em;
}

mat-divider {
    margin-block: 1.2em;
}

.left-side img {
    box-shadow: 0 0 3px #6a6a6a;
    cursor: pointer;
}

/* want to read */

.want-to-read .img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
}

.want-to-read ul {
    padding-top: 0.6em;
}

/* Center */

.center {
    flex: 0 0 50%;
    padding-inline: 5em;
}

.center h3 {
    font-weight: 500;
}

.activity-card {
    max-width: 100%;
}

/* banner */
  
.banner {
    background-color: #fff;
    box-shadow: 0 1px 1px #cecece;
    margin-top: 1em;
}

.banner img {
    width: 100%;
}

.banner .text {
    padding: 0 0 1em 1em;
}

/* activities */

.activities {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* RIGHT SIDE */

.right-side {
    flex: 0 0 20%;
}

.friends-card-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}