.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 2em;
    width: 100vw;
    height: 80%;
    padding-block: 3em;
}

a {
    text-decoration: none;
    color: #2b837d;
    padding-left: 0.6em;
}

a:hover {
    text-decoration: underline;
}

/* COVER */

.card-cover {
    min-width: 300px;
    height: 100%;
}

img {
    display: block;
    width: 260px;
    height: 400px;
    margin: 0 auto;
}

.actions {
    margin: 0 auto;
    width: 60%;
    border: none;
    padding-top: 1em;    
}

.mat-button-toggle{
    background-color: #377458;
    color: #fff;
    border-radius: 3em;
    margin-bottom: 0.6em;
    font-weight: 400;  
}

.action{
    margin: 0 auto;
    width: 60%;
    background-color: #F0E0C4;
    color: #fff;
    font-weight: 500;
    border-radius: 3em;
    margin-bottom: 0.6em;
    font-weight: 400;   
}

.action.red{
    background-color: rgb(191, 75, 75);
    margin-top: 2em;
}

.action:hover {
    background-color: #F0E0C4;
    color: #221F1B !important;
    font-weight: 500;  
}

.mat-button-toggle:hover {
    background-color: #F0E0C4;
    color: #221F1B !important;
    font-weight: 500;      
}

.mat-button-toggle-checked {
    background-color: #F0E0C4;
    color: #221F1B !important;
    font-weight: 500;  
}

.left-actions {
    display: flex;
    flex-direction: column;
}

/* DETAILS */

.card-details {
    width: 60%;
    height: 100%;
}

.card-details mat-card-title {
    font-size: 2em;
}

.card-details mat-card-header {
    padding-bottom: 2em;
}

.card-details mat-card-actions {
    padding-top: 1em;
}