<app-book-search />

<h3>Lists</h3>


<div class="list-cards-container">
  <app-books-list-card *ngFor="let bookList of books" [bookList]="bookList"/>
</div>

<!-- <app-books-list /> -->

<!-- <mat-card class="example-card" *ngFor="let book of books?.results.lists[0].books">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{book.book_image}} height='200px' width="100px" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{book.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card> -->