.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-image {
    height: 100px;
    width: auto;
}

.list-cards-container {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2em;
    padding-inline: 2em;
    padding-bottom: 5em;
}

h3 {
    padding-inline: 2em;
    font-weight: 500;
}