.container {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5em;
}

.content {
    display: flex;
}

ul {
    padding: 0;
    margin-block: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #2b837d;
}

a:hover {
    text-decoration: underline;
}

p, h5 {
    margin: 0;
    padding-bottom: 0.5em;
}

h2, h4, h5 {
    font-weight: 500;
}

h4 {
    margin-bottom: 0.4em;
}

/* LEFT SIDE */

.left-side {
    flex: 0 0 50%;
    padding-right: 5em;
}

/* user-info */

.user-info {
    display: flex;
    gap: 1em;
    padding-block: 2em;
}

.user-info h3 {
    margin-top: 0;
    font-weight: 500;
}

.user-info h3 a {
    font-weight: normal;
    font-size: 0.6em;
    margin-bottom: 1em;
}

.img-container {
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    box-shadow: 0 0 3px #6a6a6a;
}

.user-info img {
    display: block;
    width: 100%; 
    height: auto;
}

.details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin-top: 1em;
}

.details .header{
    font-weight: 500;
    padding-right: 3em;
}

/* user-bookshelves */

.bookshelves ul{
    display: flex;
    padding-top: 1em;
    gap: 0.5em;
}

/* RIGHT SIDE */

.right-side {
    flex: 0 0 30%;
}

.friends-card-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
}

.friends-card {
    display: flex;
}

.friends-card img {
    width: 60px;
    height: 60px;
    margin-right: 1em;
}

.friends-card-text h5 {
    margin: 0;
    font-weight: normal;
    color: #2b837d;
    padding-bottom: 0.2em;
}

.friends-card-text p {
    font-size: 0.8em;
    color: #6a6a6a;
}

.more-friends {
    align-self: flex-end;
    font-size: 0.8em;
}