<app-loading *ngIf="isLoading"/>
<div class="container" *ngIf="!isLoading">
    <h2>Profile</h2>
    <mat-divider />

    <div class="content">
        <div class="left-side">
            <div class="user-info">
                <div class="img-container">
                    <img *ngIf="user.img" src="{{user.img}}" alt="profile image" />
                    <img *ngIf="!user.img" src="../../../assets/profile.jpg" alt="profile image" />
                </div>

                <div class="text">
                    <h3>{{user.name}} <a href="" class="edit-profile">(edit profile)</a></h3>
                    <mat-divider />
        
                    <div class="details">
                        <div class="header">
                            <p>Details</p>
                            <p>Activity</p>
                        </div>
                        <div class="details-content">
                            <p>{{user.city}}, {{user.age}}</p>
                            <p>Joined in {{user._createdOn | date}}</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="bookshelves">
                <h4>{{user.name | uppercase}}'S BOOKSHELVES</h4>
                <mat-divider />
                <ul>
                    <li><a routerLink="/user/my-books/want">Want to read ({{wantShelf.length}})</a></li>
                    <li>•</li>
                    <li><a routerLink="/user/my-books/currently">Currently reading ({{currentShelf.length}})</a></li>
                    <li>•</li>
                    <li><a routerLink="/user/my-books/read">Read ({{readShelf.length}})</a></li>
                </ul>
            </div>
        
            <app-user-current-card *ngIf="currentShelf?.length" [currentShelf]="currentShelf"/>
        </div>
    
        <div class="right-side">
            <h4>{{user.name | uppercase}} IS FOLLOWING {{friends?.length ? friends?.length : "..."}}</h4>
            <mat-divider />
            <div class="friends-card-container">
                <p *ngIf="friends?.length === 0 || friends === undefined">You are not following...</p>             
                <app-friend-card *ngFor="let friend of friends" [user]="friend" [isFriend]="true" (newfriendEvent)="unfriend($event)"/>
                <!-- <a href="" class="more-friends">More friends...</a> -->
            </div>
        </div>
    </div>

</div>