<mat-card class="activity-card">
    <mat-card-header>
        <img class="avatar" mat-card-avatar class="example-header-image" src="{{activity.friendImage}}" alt="{{activity.friendName}}" />
        <mat-card-title>{{activity.friendName}}</mat-card-title>
        <ng-container [ngSwitch]="activity.activity">
            <mat-card-subtitle class="action" *ngSwitchCase="'want'">wants to read</mat-card-subtitle>
            <mat-card-subtitle class="action" *ngSwitchCase="'currently'">is reading</mat-card-subtitle>
            <mat-card-subtitle class="action" *ngSwitchCase="'read'">has read</mat-card-subtitle>
        </ng-container>
    </mat-card-header>
    <mat-card-content>
        <img class="book-cover" mat-card-image src="{{activity.book?.book_image}}" alt="{{activity.book?.title}}">
        <div class="text">
            <h4>{{activity.book?.title}}</h4>
            <mat-card-subtitle>{{activity.book?.author}}</mat-card-subtitle>
            <p>{{activity.book?.description}}</p>
            <mat-card-subtitle>{{activity._createdOn | date : 'medium'}}</mat-card-subtitle>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
        <ul>
            <li><a href="">LIKE</a></li>
            <li>•</li>
            <li><a href="">COMMENT</a></li>
        </ul>
    </mat-card-actions> -->
</mat-card>