<mat-toolbar class="nav-toolbar" color="primary">
    <p class="site-brand">BookReads</p>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/user/home">User Home</button>
    <button mat-button routerLink="/books/my">My Books</button>
    <button mat-button routerLink="/books">Browse Books</button>
    <button mat-button routerLink="/books/new">Add New Book</button>
    <mat-form-field class="search-field">
      <mat-label>Search books</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <span class="example-spacer"></span>
    <ng-container>
      <button mat-button routerLink="/auth/login">Sign In</button>
      <button mat-button routerLink="/auth/register">Join</button>
      <button mat-button routerLink="/user/profile">Profile</button>
    </ng-container>
</mat-toolbar>
  