<mat-toolbar class="nav-toolbar" color="primary">
    <p class="site-brand">BookReads</p>
    <button mat-button>Home</button>
    <button mat-button>My Books</button>
    <button mat-button>Browse Books</button>
    <mat-form-field class="search-field">
      <mat-label>Search books</mat-label>
      <input type="text" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <span class="example-spacer"></span>
    <ng-container>
      <button mat-button>Sign In</button>
      <button mat-button>Join</button>
    </ng-container>
</mat-toolbar>
  