/* search section */

.book-search {
    padding-inline: 2em;
}

.book-search.home {
    width: 60%;
}

.book-search h3 {
    font-weight: 500;
}

.book-search mat-list {
    height: 18em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-search.home mat-list {
    height: 10em;
    overflow: hidden;
}

.book-search mat-list li {
    padding-bottom: 0.1em;
    padding-right: 2em;
}

.book-search mat-list a {
    text-decoration: none;
    color: #2b837d;
    font-size: 0.9em;
}