<div class="friends-card">
    <div class="img-container">
        <img mat-card-sm-image src="{{user.img ? user.img : '../../../../../assets/profile.jpg'}}" alt="{{user.name}}" />
    </div>
    <div class="friends-card-text">
        <h5>{{user.name}}</h5>
        <p>{{user.city}} | {{user.age}} years</p>
        <button *ngIf="!isFriend" (click)="addFriendHandler(user._id)" mat-raised-button>Add to friends</button>
        <button *ngIf="isFriend" (click)="unfriendHandler(user._id)" mat-raised-button>Unfriend</button>
    </div>
</div>