<mat-card class="activity-card">
    <mat-card-header>
        <img class="avatar" mat-card-avatar class="example-header-image" src="../../../assets/profile.jpg" alt="profile image" />
        <mat-card-title>Friend Name</mat-card-title>
        <mat-card-subtitle>finished reading</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img class="book-cover" mat-card-image src="https://storage.googleapis.com/du-prd/books/images/9781538756591.jpg" alt="Photo of a Shiba Inu">
        <div class="text">
            <h4>Book Title</h4>
            <mat-card-subtitle>Author Name</mat-card-subtitle>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <ul>
            <li><a href="">LIKE</a></li>
            <li>•</li>
            <li><a href="">COMMENT</a></li>
        </ul>
    </mat-card-actions>
</mat-card>